@font-face {
font-family: 'FontAwesome';
src: url('static/fonts/fontawesome-webfont.eot?v=4.3.0');
src: url('static/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('static/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('static/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('static/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('static/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-family-base{
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@font-size-base{
font-size: 18px;
}
@line-height-base{
line-height: 35px;

}
@link-color a:visited{
color: #d0648a;
}
@link-color a:hover{
color: #4fc1e9;
}
/* 大屏幕 */
@media (min-width: 1200px) { ... }

/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) { ... }

/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) { ... }
a {
text-decoration: none;
transition: all 0.3s ease-out;
}
a:link {
color:#d0648a;
}
a:visited {
color:#d0648a;
}
a:hover {
color:#4fc1e9;
}
a:active {
color:#4fc1e9;
}
html {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}
body {
color: #333333;
background-color: #e0e0e0;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}
h1 {
font-size: 60px;
}
h2 {
font-size: 27px;
}
h3 {
font-size: 20px;
}
h4 {
font-size: 16px;
}
h5 {
font-size: 16px;
}
h6 {
font-size: 14px;
}
.container {
margin-top: 5px;
background-color: #f0f0f0;
box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.2);

}

aside {
left: 0;
z-index: 100;
position: fixed;
top: 80%;
display: inherit;
transform: translate(0, -50%);
}
@media (max-width: 40px) {
aside {
position: relative;
display: inherit;
width: 100%;
left: auto;
top: 0;
transform: none;
overflow: hidden;
zoom: 1;
}
}
aside .links {
margin: 0;
padding: 0;
}
@media (max-width: 40px) {
aside .links {
display: inline-block;
}
}
aside .link {
list-style-type: none;
margin-top: 6px;
background-color: #d0648a;
border-radius: 10px ;
transition: all 0.3s ease-out;
}
aside .link:hover,
aside .link:active {
background-color: #4fc1e9;
}
@media (max-width: 40px) {
aside .link {
display: inline-block;
background-color: #d0648a;
border-radius: 0;
text-align: center;
}
}
aside a {
width: 5%;
margin-left:5px;
display: inline-block;
}
aside a:link,
aside a:visited,
aside a:hover,
aside a:active {
color: white;
}
@media (max-width: : 400px) {
.invisible-lt-sm {
display: block;
}
}
@media (max-width: : 400px) {
.invisible-lt-sm {
display: none;
}
}
@media (min-width:400px) {
.visible-lt-sm {
display: none;
}
}
@media (max-width: : 400px) {
.visible-lt-sm {
display: block;
}
}
.music{
-webkit-background-size: 140px 140px;
-moz-background-size: 140px 140px;
background-size: 140px 140px;
-webkit-border-radius: 110px;
border-radius: 100px;
-webkit-transition: -webkit-transform 8s ease-out;
-moz-transition: -moz-transform 8s ease-out;
-o-transition: -o-transform 8s ease-out;
-ms-transition: -ms-transform 8s ease-out;
}
.music :hover {
-webkit-transform: rotateZ(360deg);
-moz-transform: rotateZ(360deg);
-o-transform: rotateZ(360deg);
-ms-transform: rotateZ(360deg);
transform: rotateZ(360deg);
}
.music ::before{
font-family: 'FontAwesome';
font-size:inherit ;

display:inline-block;

margin-left: -10px;

content: '\f001';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}

.main-page{
margin-left: 8%;
}

.row{
clear: both;
}
.row_pic img{
width: 140px;
height: 140px;
margin: 2% 28%;
margin-top: -18px;
float: left;
-webkit-background-size: 140px 140px;
-moz-background-size: 140px 140px;
background-size: 140px 140px;
-webkit-border-radius: 110px;
border-radius: 100px;
-webkit-transition: -webkit-transform 2s ease-out;
-moz-transition: -moz-transform 2s ease-out;
-o-transition: -o-transform 2s ease-out;
-ms-transition: -ms-transform 2s ease-out;
}
.row_pic :hover {
-webkit-transform: rotateZ(360deg);
-moz-transform: rotateZ(360deg);
-o-transform: rotateZ(360deg);
-ms-transform: rotateZ(360deg);
transform: rotateZ(360deg);
}
.row_cont ul {
float: left;

margin:2% 7%;
color: #333333;

text-align:center;
margin-top: -20px;

}

.row_cont ul p:first{
color: black;
}
.carousel{
margin:2% 6%;
}
.carousel img{
filter: Alpha(Opacity=60);
opacity: .6;
}


.thumbnail{
margin:2% auto;
}

.thumbnail , .caption{
background-color: #f5f5f5;}

.github ::before 
{
font-family: 'FontAwesome';
font-size: inherit;

display: inline-block;

content: '\f09b';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.resume ::before{
font-family: 'FontAwesome';
font-size: inherit;

display: inline-block;

content: '\f19d';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.blog  ::before {

font-family: 'FontAwesome';
font-size: inherit;

display: inline-block;

content: '\f09e';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
} 
.tra-v ::before{
font-family: 'FontAwesome';
font-size: inherit;

display: inline-block;

content: '\f1bb';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.tra-f ::before{
font-family: 'FontAwesome';
font-size: inherit;

display: inline-block;

content: '\f0fc';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.tra-b ::before{
font-family: 'FontAwesome';
font-size: inherit;

display: inline-block;

content: '\f182';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.book-b ::before{
font-family: 'FontAwesome';
font-size: inherit;

display: inline-block;

content: '\f212';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.book-m ::before{
font-family: 'FontAwesome';
font-size: inherit;

display: inline-block;

content: '\f03d';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.book-y ::before{
font-family: 'FontAwesome';
font-size: inherit;

display: inline-block;

content: '\f001';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.book-w ::before{
font-family: 'FontAwesome';
font-size: inherit;

display: inline-block;

content: '\f109';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
article{
margin: 5% 10%;  
}

article ul{
border-left: 5px solid #4fc1e9;
border-radius-top: 3px;

}

article ul li{
margin-left: 3%;

}
.cap-cont ul{
border-left: 5px solid #4fc1e9;
border-radius-top: 3px;

}
.cap-cont ul li{
margin-left: 3%;

}

.row_pic img{
width: 140px;
height: 140px;
margin: 2% 28%;
margin-top: -18px;
float: left;
}
.list-unstyled-ico ::before{
font-family: 'FontAwesome';
font-size: inherit;

display: inline-block;

content: '\f1e9';
transform: translate(0, 0);

text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color:#4fc1e9;
}

.btn-pic{
margin: 2% 8%;
}

footer p{
margin-top: 5%;
color:black;
text-align: center; 
}