/*文本折行问题可以通过 css 样式解决。
header, p, div,
h1, h2, h3, h4, h5, h6,
article,footer
.fix-break { 
   background: tranparent url('about:blank');
   word-break: break-all;
}
*/
/*大于640px的屏幕宽度下
@media screen and (min-width: 640px){
        .d1{background:#ccc;}
        }
*/
.container {
  margin:0 auto;
  width: 100%;
    height: 10000px;
}
header{
  width: 100%;
    height: 15%;
}
article{
   width: 100%;
    height: 65%;
}
footer{
  width: 100%;
    height: 20%;
}
.header_box{
     width: 100%;
min-height: 70px;
    background-color: #d0648a
}
.headpic,.headtext,.headmenu{
  margin: 0 15px;
  display: block;
height: auto;
max-width: 100%;
}
.headpic img{

width: 20%;
float: left;
margin-left: -5px;
margin-top: -5px;

}
.headtext p{

float: left;
font-size: 16px;
margin-left: 15px;
margin-right: 15px;
margin-top:25px;
color: #f5f5f5;
}
.headmenu{
  margin:0 auto;

}
.headmenu a{

  float: right;
padding: 1px 1px;

border: 1px solid #d0648a;
border-radius: 5px;

margin-top: 20px;



color: #fafafa;

}
.headmenu a:hover{
  float: right;

    color: #fafafa;
    background: #4fc1e9;
    border: 1px solid #4fc1e9;
    
    box-shadow: 0px 2px 2px #fafafa;
}

.headmenu a:before{
  margin-right:25px;
  margin-left: -5px;


  
  float: right;
  width: 10%;
  height: 15%;
    font-family: 'FontAwesome';
  font-size: 24px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f0c9";
  display: inline-block;
  text-align: center;
}
.serch_box{
   margin: 0 auto;
}
.serch_box input{
  display: block;
  width: 95%;
margin-top: -10px;
 margin: 0 auto;
 border-radius: 8px;
}
.search_text
{
  border-radius: 8px;
    width: 95%;
    height: 25px;
 
    border: 1px solid #fff;
color: #4fc1e9;
   text-align:center; 
} 
.article_box{
  min-height: 100px;
 overflow: hidden;

}
.loading img
{
  position:relative;
   margin:5px 2px;
   filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
-moz-opacity:0.7; /*Firefox私有，透明度50%*/
opacity:0.7;/*其他，透明度50%*/
    
}
.article_content{
position:absolute;
width:100%;height:100%;z-indent:2;left:0;top:0;
}
.article_content p {
  color: black;
  margin:150px 50px 50px 50px;
  font-size: 19px;
  line-height: 24px;
   letter-spacing: 1px;

}


footer .navigator{
    position: absolute;
    z-index: 999;
    
    right: 0;
    left: 0;

    height: 25px;
    bottom: 0;
    background-color: #d0648a
}
#navList{
width: 100%;
}
/*按钮用到了  渐变+圆角+外阴影*/
#navList a{
font-size: 17px;
line-height: 25px;
padding: 1px 4px;
border: 1px solid #d0648a;
border-radius: 5px;
background: #d0648a;
overflow: hidden;
margin: 0 auto;
color: #fafafa;

}
#navList a:hover{
    font-size: 18px;

    padding: 1px 4px;
    color: #fafafa;
    background: #4fc1e9;
    border: 1px solid #4fc1e9;
    
}
#nav_main a::before{
    font-family: 'FontAwesome';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f015";

  display: inline-block;
}
#nav_book a::before{
    font-family: 'FontAwesome';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f02d";

  display: inline-block;
}
#nav_tra a::before{
    font-family: 'FontAwesome';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f1d8";

  display: inline-block;
}

#nav_about  a::before{
    font-family: 'FontAwesome';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f007";

  display: inline-block;
}

#nav_main,#nav_book,#nav_tra,#nav_about{
    float: left;
    width: 20%;
    padding-left: 4%;
}


/*上下三角形*/
.tip_t{
border-color: transparent transparent #bb0808 transparent;
border-style: solid;
border-width: 10px;
width: 0px;
height: 0px;
}

.tab{
    margin:0; padding:0;
    list-style:none;
}
.tab li, .tab a ,.article_pic li{
    list-style:none
}

@font-face {
  font-family: 'FontAwesome';
  src: url('static/fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('static/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('static/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('static/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('static/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('static/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


a {
  text-decoration: none;
  transition: all 0.3s ease-out;
}
a:link {
  color: #4682b4;
}
a:visited {
  color: #4682b4;
}
a:hover {
  color: #333333;
}
a:active {
  color: #333333;
}
html {
  margin: 0;
  padding: 0;
}
body {
  color: #333333;
  background-color: #e0e0e0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}